body {
  font: "Roboto", sans-serif;
  background-color: #f7f6bb;
  color: #114232;
}
header {
  background-color: #114232;
  color: #fcdc2a;
  padding: 20px;
  text-align: center;
}
.image-container img {
  width: 50%; /* Responsive image width */
  border-radius: 50%; /* Rounded corners */
  display: block;
  margin: 20px auto;
  
}
